<mat-toolbar color="primary" role="toolbar" class="mat-typography light-text">
  <div class="mat-body-strong"><p>Powered by Angular <span *ngIf="isNotHandset | async">& Angular Material</span></p></div>
  <div class="mat-body-strong"><a href="https://iconscout.com/illustrations/building-website" target="_blank">Building Website Illustration</a>&nbsp; by &nbsp;<a href="https://iconscout.com/contributors/manypixels-gallery">Manypixels Gallery</a>&nbsp; on &nbsp;<a href="https://iconscout.com">Iconscout</a></div>
  <div class="fill-remaining-space"></div>
  <div class="mat-body-strong" *ngIf="isNotHandset | async">
    <p>
      <a href="https://github.com/Bwvolleyball/bwvolleyball-github-io-src">Fork me on GitHub</a>
    </p>
  </div>
  <div class="fill-remaining-space"></div>
  <div class="mat-body-strong">
    <p>© Brandon Ward - 2019-2021</p>
  </div>
</mat-toolbar>
