<div class="grid-container">
  <h1 class="mat-h1">Code</h1>
  <h4 class="mat-h3">Memorable Tidbits</h4>
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card scrollable-content">
        <mat-card-header>
          <mat-card-title>
            - {{card.person}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p>
            <i>{{card.quote}}</i>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
