<mat-card>
  <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>
        <span class="construction-logo">🛠</span><span>Website Under Construction</span><span class="construction-logo">🛠</span>
      </mat-card-title>
      <mat-card-subtitle>Check back later to see what I'm building!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile colspan="4" rowspan="4">
        <img class="large-image" mat-card-lg-image src="/assets/svgs/building-website.svg" alt="Website is under Construction.">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
