<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Open Source Acknowledgments</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h5 class="badge-subtitle"><span class="badge bg-primary"><a href="https://github.com/Bwvolleyball/bwvolleyball-github-io-src">Fork me on GitHub <mat-icon svgIcon="logos:github_logo"></mat-icon></a></span></h5>
    <mat-list dense>
      <mat-list-item class="main-bullet"><a href="https://iconscout.com">Iconscout</a></mat-list-item>
      <mat-list-item class="sub-bullet"><a href="https://iconscout.com/icons/github" target="_blank">Github Icon</a>&nbsp;by&nbsp;<a href="https://iconscout.com/contributors/unicons" target="_blank">Unicons Font</a></mat-list-item>
      <mat-list-item class="sub-bullet"><a href="https://iconscout.com/icons/twitter" target="_blank">Twitter Icon</a>&nbsp; by &nbsp;<a href="https://iconscout.com/contributors/unicons">Unicons Font</a></mat-list-item>
      <mat-list-item class="sub-bullet"><a href="https://iconscout.com/icons/blogging" target="_blank">Blogging Icon</a>&nbsp; by &nbsp;<a href="https://iconscout.com/contributors/theiconz" target="_blank">Diacanvas Studio</a></mat-list-item>
      <mat-list-item class="sub-bullet"><a href="https://iconscout.com/illustrations/building-website" target="_blank">Building Website Illustration</a>&nbsp; by &nbsp;<a href="https://iconscout.com/contributors/manypixels-gallery">Manypixels Gallery</a></mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
