<div class="wrapper">
  <h3>Software Engineer</h3>
  <h5>5+ years of experience</h5>
  <ul class="highlights">
    <li>
      <b>May, 2019 - current</b>
      <br>
      <i>Promontory Mortgage Path</i>
      <br>
      <p>Fullstack Software Engineer providing architectural coaching across the stack.</p>
      <p>Improved custom Gradle build plugin to provide company wide project management.</p>
      <p>Coached Kotlin best practices and led initiatives to further expand usage.</p>
    </li>
    <li>
      <b>Nov, 2018 - May, 2019</b>
      <br>
      <i>Zen Planner</i>
      <br>
      <p>Pioneered Kubernetes approach to speed up SDLC.</p>
      <p>Developed CI/CD Application to approve pull requests via full smoke-test suite.</p>
    </li>
    <li>
      <b>June, 2015 - Nov, 2018</b>
      <br>
      <i>Charles Schwab</i>
      <br>
      <p>Part of Architectural Committee on the Schwab Equity Ratings re-write project.</p>
      <p>2nd place in company-wide innovation hackathon.</p>
      <p>Multi-year recipient of Key Contributor Award, Schwab Technology Champion winner.</p>
    </li>
  </ul>
  <h6><a href="https://www.linkedin.com/in/bwvolleyball/">**See Full Experience on LinkedIn!</a></h6>
</div>
