/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'
@import '~@angular/material/theming'
@import "~bootstrap/dist/css/bootstrap.css"
@include mat-core()

// Make the background color of the whole page the same color as the dashboard.
body
  background-color: #303030

.light-text
  color: $light-primary-text

.dark-text
  color: $dark-primary-text

// globally styling links
a:link
  color: $light-primary-text
  text-decoration: none

/* visited link */
a:visited
  color: $light-primary-text
  text-decoration: none

/* mouse over link */
a:hover
  color: $light-primary-text
  text-decoration: underline

/* selected link */
a:active
  color: $light-primary-text
  text-decoration: none

// Medium widget styling has to be done globally unfortunately.
.medium-widget-article__description
  color: $light-primary-text !important

.medium-widget-article__author-name
  color: $light-primary-text !important

.medium-widget-article__like::before
  background-color: $light-primary-text !important

.medium-widget-article__like
  color: $light-primary-text !important

.medium-widget-article__clap::before
  background-color: $light-primary-text !important

.medium-widget-article__clap
  color: $light-primary-text !important

.medium-widget-article__date
  color: $light-primary-text !important
